header[target] {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  color:DodgerBlue; /* Set text color to DodgerBlue */
  position: relative;
}

#grid {
  display: grid;
  grid-template-columns: 170px 170px 250px;
  grid-template-rows: 60px 60px 60px; 
  column-gap: 10px;
  row-gap: 15px;
  justify-items: flex-start;
  align-items: flex-start;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 480px) {
  figcaption {text-align: center;}
}

a:active {
  background-color: yellow;
}

a:hover {
  color: lightblue;
}

h2 {
  color: rgb(255, 82, 64);
  text-decoration: underline;
}

h3 {
  color: #3cb371;
  text-decoration: underline;
}

form {
  border-style: solid;
  border-radius: 5px;
  border-color:hsl(248, 53%, 58%);
  border-width: 3px;
  padding: 10px 10px 10px 10px;
  max-width: 50%;
  max-height: 80%;
  min-width: 40%;
  min-height: 50%;
}

#inline {
  display: inline;
}

svg {
  position: sticky;
  top: 0;
}

table {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-radius: 5px;
}

td, th {
  text-align: center;
  padding-right: 5px;
  padding-bottom: 5px;
}

details summary {
  text-align: center;
}

optgroup > option {
  background-color: lightcoral;
}

div + h2 {
  background-color: lightgoldenrodyellow;
}

th + td {
  background-color: lightskyblue;
}

footer.foot {
  color: hsl(248, 53%, 58%);
}

details {
  color: hsla(9, 100%, 64%, 0.8);
}

#quote {
  color: #53D;
}

code {
  color: rgb(121, 106, 255, 0.8);
  background-color:hsla(40, 100%, 64%, 0.2);
}

main {
  margin: 10px 10px 10px 10px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

